@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:verse"] p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}
/* End all epigraphs */

header [epub|type~="epigraph"] cite{
	font-variant: small-caps;
}

/* Epigraphs in headers */
section > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

@supports(display: table){
	section > header [epub|type~="epigraph"]{
		display: table;
	}
}

article > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

@supports(display: table){
	article > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in headers */

[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

figure{
	break-inside: avoid;
	margin: 1em 40px;
	text-align: center;
}

figure p{
	text-indent: 0;
}

[epub|type~="se:temperature"]{
	font-variant: all-small-caps;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

#the-64-square-madhouse .teletype{
	font-variant: all-small-caps;
}

#the-64-square-madhouse blockquote{
	margin: 1em auto;
	text-align: center;
}

#the-64-square-madhouse blockquote table{
	font-variant-numeric: tabular-nums;
	margin: 1em auto;
}

#the-64-square-madhouse blockquote table thead{
	font-variant: small-caps;
}

blockquote header p{
	font-variant: small-caps;
	font-weight: bold;
}

#the-64-square-madhouse blockquote td{
	text-align: initial;
}

#yesterday-house blockquote header p{
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

#friends-and-enemies blockquote{
	font-style: italic;
}
